<?xml version="1.0"?>
<launch>

<node pkg="widowx_driver" type="widowx_state_space_driver.py" name="widowx_3links_driver_r1" output="screen" args="" cwd="node">
    <param name="robot_name" value="r1" />
    <param name="serial_port" value="/dev/ttyUSB0" />
    
    <param name="max_rpm" type="double" value="1.5" />
    
    <param name="internal_P" type="int" value="8" />
    <param name="internal_I" type="int" value="0" />
    <param name="internal_D" type="int" value="0" />
    
    <param name="init_pos_1" type="int" value="2048" />
    <param name="init_pos_2" type="int" value="1710" />
    <param name="init_pos_3" type="int" value="1577" />
    <param name="init_pos_4" type="int" value="2170" />
    <param name="init_pos_5" type="int" value="206" />
    <param name="init_pos_6" type="int" value="512" />
</node>

<node pkg="widowx_driver" type="widowx_state_space_driver.py" name="widowx_3links_driver_r2" output="screen" args="" cwd="node">
    <param name="robot_name" value="r2" />
    <param name="serial_port" value="/dev/ttyUSB1" />
    
    <param name="max_rpm" type="double" value="1.5" />
    
    <param name="internal_P" type="int" value="8" />
    <param name="internal_I" type="int" value="0" />
    <param name="internal_D" type="int" value="0" />

    <param name="init_pos_1" type="int" value="2048" />
    <param name="init_pos_2" type="int" value="1710" />
    <param name="init_pos_3" type="int" value="1577" />
    <param name="init_pos_4" type="int" value="2170" />
    <param name="init_pos_5" type="int" value="206" />
    <param name="init_pos_6" type="int" value="512" />
</node>

</launch>
