<?xml version="1.0"?>
<launch>

<node pkg="windowx_driver" type="windowx_state_space_driver_3links_r1.py" name="windowx_3links_driver_r1" output="screen" args="" cwd="node">
</node>

<node pkg="windowx_driver" type="windowx_state_space_driver_3links_r2.py" name="windowx_3links_driver_r2" output="screen" args="" cwd="node">
</node>

</launch>
